@use "../root/index.scss" as v;

.post-card-main-div {
  .title-div {
    .title-p {
      font-size: 30px;
    }
  }

  .masonry-component {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    position: relative;

    .post-card-div {
      width: 350px;
      height: auto;
      position: relative;
      .header-div {
        align-items: center;
        position: relative;
        .user-image-div {
          .img {
            width: 50px;
            height: 50px;
          }
        }
        .user-div {
          .username-p {
            font-size: 25px;
          }
          .job-p {
            font-size: 20px;
          }
        }
        .options {
          position: relative;
          z-index: 100;

          .option-btns {
            position: absolute;
            top: 0%;
            right: 30px;
            z-index: 1;
            background-color: #fff;
            .icon-button {
              display: flex;
              border: none;
              padding: 5px;
              background-color: #fff;
              p {
                color: v.$primary-color;
                font-size: 18px;
              }
            }

            .icon-button:hover {
              background: v.$bg-gery-light-screen-color;
              cursor: pointer;
            }
          }
          .three-dot-icon:hover {
            color: v.$blue;
          }
        }
      }

      .img-div {
        width: 350px;
        height: 350px;
        overflow: hidden;
        position: relative;
        .img {
          width: 100%;
          position: absolute;
          filter: brightness(80%);
        }

        .created-date-div {
          position: absolute;
          right: 5px;
          bottom: 5px;
          p {
            color: #fff;
          }
        }

        .like-div {
          position: absolute;
          z-index: 10;
          right: 5px;
          top: 5px;
          .like-btn {
            color: #fff;
          }
          p {
            color: #fff;
          }
        }
      }

      .message-div {
        .message-p {
          max-height: calc(
            1.2em * 3
          ); /* Set the maximum height to accommodate three lines */
          line-height: 1.2em; /* Set the line height to control the height of each line */
          overflow: hidden; /* Hide any overflowing content */
          text-overflow: ellipsis; /* Show an ellipsis (...) for truncated text */
          display: -webkit-box; /* Use legacy webkit box for multi-line truncation */
          -webkit-line-clamp: 3; /* Limit the content to three lines */
          -webkit-box-orient: vertical; /* Set vertical orientation for multi-line truncation */
        }
      }

      .bottom-btns-div {
        .comment-div {
          padding: 5px;
          .input {
            outline: none;
            border: none;
          }
        }
        .comment-div:focus-within {
          border: 1px solid;
          border-color: v.$text-2-color;
        }
      }

      .comments-div {
        .first-comment-div {
          .img-div-user {
            width: 30px;
            height: 30px;
            position: relative;
            overflow: hidden;
            .img {
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .post-card-main-div {
    .title-div {
      .title-p {
        font-size: 30px;
      }
    }

    .masonry-component {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

      .post-card-div {
        min-width: 350px;
        width: auto;
        .header-div {
          .user-image-div {
            .img {
              width: 40px;
              height: 40px;
            }
          }
          .user-div {
            .username-p {
              font-size: 25px;
            }
            .job-p {
              font-size: 20px;
            }
          }
        }
        .img-div {
          min-width: 350px;
          width: auto;
          height: 350px;
        }
      }
    }
  }
}

// @media (max-width: 740px) {
//   .post-card-main-div {
//     .title-div {
//       .title-p {
//         font-size: 30px;
//       }
//     }

//     .masonry-component {
//       grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

//       .post-card-div {
//         min-width: 500px;
//         width: auto;
//         .header-div {
//           .user-image-div {
//             .img {
//               width: 40px;
//               height: 40px;
//             }
//           }
//           .user-div {
//             .username-p {
//               font-size: 25px;
//             }
//             .job-p {
//               font-size: 20px;
//             }
//           }
//         }
//         .img-div {
//           min-width: 500px;
//           width: auto;
//           height: 500px;
//         }
//       }
//     }
//   }
// }

@media (max-width: 600px) {
  .post-card-main-div {
    .title-div {
      .title-p {
        font-size: 30px;
      }
    }

    .masonry-component {
      grid-template-columns: repeat(auto-fill, min(250px, 1fr));

      .post-card-div {
        min-width: 250px;
        width: auto;
        .header-div {
          .user-image-div {
            .img {
              width: 25px;
              height: 25px;
            }
          }
          .user-div {
            .username-p {
              font-size: 18px;
            }
            .job-p {
              font-size: 14px;
            }
          }
        }

        .img-div {
          min-width: 250px;
          width: auto;
          height: 250px;
        }

        .message-div {
          .message-p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
