@use "../root/index.scss" as v;

.post-card-main-div {
  .title-div {
    .title-p {
      font-size: 30px;
    }
  }

  .masonry-component {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    .post-card-div {
      min-width: 320px;
      width: auto;
      height: auto;
      .header-div {
        align-items: center;
        .user-image-div {
          .img {
            width: 50px;
            height: 50px;
          }
        }
        .user-div {
          .username-p {
            font-size: 25px;
          }
          .job-p {
            font-size: 20px;
          }
        }
        .three-dot-icon:hover {
          color: v.$blue;
        }
      }

      .img-div {
        min-width: 320px;
        width: auto;
        height: 320px;
        overflow: hidden;
        position: relative;
        .img {
          width: 100%;
          position: absolute;
        }
      }

      .message-div {
        .message-p {
          max-height: calc(
            1.2em * 3
          ); /* Set the maximum height to accommodate three lines */
          line-height: 1.2em; /* Set the line height to control the height of each line */
          overflow: hidden; /* Hide any overflowing content */
          text-overflow: ellipsis; /* Show an ellipsis (...) for truncated text */
          display: -webkit-box; /* Use legacy webkit box for multi-line truncation */
          -webkit-line-clamp: 3; /* Limit the content to three lines */
          -webkit-box-orient: vertical; /* Set vertical orientation for multi-line truncation */
        }
      }

      .bottom-btns-div {
        .comment-div {
          padding: 5px;
          .input {
            outline: none;
            border: none;
          }
        }
        .comment-div:focus-within {
          border: 1.534px solid;
          border-color: v.$text-2-color;
        }

        .created-date-div {
          p {
            color: v.$text-light-color;
          }
        }
      }

      .comments-div {
        .first-comment-div {
          .img-div-user {
            width: 30px;
            height: 30px;
            position: relative;
            overflow: hidden;
            .img {
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .post-card-main-div {
    .title-div {
      .title-p {
        font-size: 30px;
      }
    }

    .masonry-component {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

      .post-card-div {
        min-width: 400px;
        width: auto;
        .header-div {
          .user-image-div {
            .img {
              width: 40px;
              height: 40px;
            }
          }
          .user-div {
            .username-p {
              font-size: 25px;
            }
            .job-p {
              font-size: 20px;
            }
          }
        }
        .img-div {
          min-width: 400px;
          width: auto;
          height: 400px;
        }
      }
    }
  }
}

@media (max-width: 740px) {
  .post-card-main-div {
    .title-div {
      .title-p {
        font-size: 30px;
      }
    }

    .masonry-component {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

      .post-card-div {
        min-width: 500px;
        width: auto;
        .header-div {
          .user-image-div {
            .img {
              width: 40px;
              height: 40px;
            }
          }
          .user-div {
            .username-p {
              font-size: 25px;
            }
            .job-p {
              font-size: 20px;
            }
          }
        }
        .img-div {
          min-width: 500px;
          width: auto;
          height: 500px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .post-card-main-div {
    .title-div {
      .title-p {
        font-size: 30px;
      }
    }

    .masonry-component {
      grid-template-columns: repeat(auto-fill, min(250px, 1fr));

      .post-card-div {
        min-width: 250px;
        width: auto;
        .header-div {
          .user-image-div {
            .img {
              width: 25px;
              height: 25px;
            }
          }
          .user-div {
            .username-p {
              font-size: 18px;
            }
            .job-p {
              font-size: 14px;
            }
          }
        }
        .img-div {
          min-width: 250px;
          width: auto;
          height: 250px;
        }
        .message-div {
          .message-p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
