@use "../root/index.scss" as v;

.input-div {
  gap: 5px;

  .input {
    border: 1.534px solid rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 50px;
  }
  .input-textarea {
    border: 1.534px solid rgba(0, 0, 0, 0.1);
    width: 400px;
    min-height: 200px;
    resize: none;
  }
  p {
    font-weight: 600;
    padding-left: 5px;
    color: v.$text-2-color;
  }
}

@media (max-width: 1200px) {
  .input-div {
    .input {
      width: 350px;
    }
    .input-textarea {
      width: 350px;
    }
  }
}

@media (max-width: 900px) {
  .input-div {
    .input {
      width: 300px;
    }
    .input-textarea {
      width: 300px;
    }
  }
}

@media (max-width: 600px) {
  .input-div {
    .input {
      width: 250px;
    }
    .input-textarea {
      width: 250px;
    }
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 500px) {
  .input-div {
    .input {
      width: 220px;
    }
    .input-textarea {
      width: 220px;
    }
    p {
      font-size: 12px;
    }
  }
}
