.left-div {
}

.right-div {
  .header-div {
    width: 100%;
    .user-img-div {
      position: relative;
      overflow: hidden;
      .img {
        position: relative;
      }
    }
  }

  .main-content-div {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    .comment-input-div {
      .input-div {
        padding: 5px;
        .input {
          outline: none;
          border: none;
          width: 100%;
        }
      }
    }

    .comments-div {
      .comments {
        max-height: 300px;
        overflow-y: auto;
        .comment-div {
          .user-img-div {
            position: relative;
            overflow: hidden;
            .img {
              position: absolute;
            }
          }
        }
      }
    }
  }
}
