@use "../root/index.scss" as variables;

.login-main-div {
  position: relative;
  overflow: hidden;

  .card-div {
    z-index: 10;
    gap: 20px;
    padding: 40px;
    .description {
      width: 90%;
      text-align: center;
    }
  }
}

.bg-div {
  transform: rotate(-45deg);
  width: 500px;
  height: 700px;
}

.bg-top {
  position: absolute;
  top: -300px;
  left: -50px;
}

.bg-bottom {
  position: absolute;
  bottom: -300px;
  right: -50px;
}
